---
layout: page
title: "Lim Li's Portfolio"
description: "<p>I'm currently a Software Engineer at Stripe.</p><p>I graduated from NUS CS/Applied Math with 1st Class Honours, and am interested in Competitive Programming.</p>"
sections:
  - experience
  - education
  - internships
  - achievements
  - skills
  - community
  - modules
  - contact
---

{% for section in page.sections %}
{% assign x = forloop.index | modulo: 2 %}
{% if x  == 1 %}
<div>{% include {{section}}.html%}</div>
{% else %}
<div class="altbg">{% include {{section}}.html%}</div>
{% endif %}

{% endfor %}
