<section id="experience">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Work Experience</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3 class="section-heading">Stripe, Software Engineer</h3>
                <small class="text-muted">May 2022 - Present</small>
                <p>Worked on the verification platform to verify merchants' identity (KYC/KYB) by integrating with 3rd party providers.</p>
            </div>
        </div>
    </div>
</section>
